<!DOCTYPE html>
<html>

<head>
  <title>My Page</title>
  <style>
    body {
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }

    h1 {
      color: darkblue;
      font-size: 3em;
      margin-bottom: 20px;
    }

    button {
      background-color: red;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      margin: 10px;
    }
  </style>
</head>

<body>
  <h1>GTG - GoodiesTo Go</h1>
  <a href="ProductsList">
    <button>Manage products</button>
  </a>
  <a href="Menu">
    <button>Customer Order</button>
  </a>
</body>

</html>